@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	background: #f7faff;
	font-family: 'Roboto', sans-serif;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.bg-white {
	background-color: #fff;
}

/* NAVBAR  */
nav.navbar.navbar-toggleable-md.navbar-light.bg-white {
	padding: 0 16px;
	-webkit-box-shadow: 0px 4px 44px 0px #f7f8ff;
	-moz-box-shadow: 0px 4px 44px 0px #f7f8ff;
	box-shadow: 0px 4px 44px 0px #f7f8ff;
}
.navbar-brand{
	color: #7599df !important;
}
.navbar-nav .nav-item a {
	margin: 20px;
	
}
.navbar-nav .nav-item .nav-link {
	color: #c0c4c7 !important;
}

li.nav-item.active {
	background-image: radial-gradient(
		#fbfcff,
		#f7f8fc
	);
  /* background: #fbfcff; */
}
li.nav-item:hover {
	background-image: radial-gradient(
		#fbfcff,
		#f7f8fc
	);
}

input#search::-webkit-input-placeholder {
  color: #ededed;
}
input#search {
  border: none;
}
li.nav-item.no-active,.no-active:hover {
	background: inherit;
}
/* NAVBAR  */



.content {
	margin-top: 50px;
}
.welcome-message {
	text-align: left;
	border-bottom: 1px solid #000;
}