<template>
  <div class="container" id="app">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="row">
      <div class="col text-center">
        <div class="row">

          <div class="form-group col-md-5">
            <select class="form-control" id="exampleSelect1" @change="changeCountry">
              <option value="EG" selected>Egypt</option>
              <option value="UK">United Kingdom</option>
              <option value="US">United States</option>
              <option value="DE">Germany</option>
              <option value="AE">United Arab Emirates</option>
            </select>
          </div>

          <div class="form-group col-md-5">
            <select class="form-control" id="exampleSelect1" @change="changeCity">
              <option value="Alexandria" selected>Alexandria</option>              
              <option value="London">London</option>
              <option value="NewYork">NewYork</option>
              <option value="München">München</option>
              <option value="Washington">Washington</option>
              <option value="Dubai">Dubai</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            <a @click="toggleView" class="show-list">
              <i class="fa" :class="wrapper ? 'fa-th-list' : 'fa-th'"></i>
              {{wrapper ? 'G' : 'L'}}
            </a>
          </div>

        </div>
        
      </div>
    </div>

    <div class="row wrapper" :class="wrapper ? 'list-mode' : ''">

      <div class="container" v-if="data != null">

        <span>
          <h5>CITY: {{data.city.name}}</h5> 
          <h5>COUNTRY: {{data.city.country}}</h5>
        </span>

        <div class="box" v-for="day in data.temps.slice(0, 4)" :key="day.date">
          <p class="align-middle">[ {{ day.date }} ] - {{ day.temp }} C</p>
        </div>

      </div>

    </div>

  </div>

</template>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script>
export default {
  name: 'app',
  data () {
    return {
      city: 'Alexandria',
      country: 'EG',
      data: null,
      wrapper: false,
    }
  },
  mounted: function() {
    this.getData()
  },
  methods: {
    getData: function(){
      var self = this
      $.getJSON(`http://api.openweathermap.org/data/2.5/forecast?q=${self.city},${self.country}&mode=json&appid=5121f13fd90c7f33f764109bcfc0c9fd`, data => {
        
        const unique = []

        // Getting distinct days out of the data 
        data.list.filter(day => {
          let i = unique.findIndex(x => x.date == day.dt_txt.split(' ')[0])
          if (i <= -1) {
            unique.push({
              date: day.dt_txt.split(' ')[0],
              temp: day.main.temp
            })
          }
        })

        // Structuring our returned request
        data = {
          city: {
            name: data.city.name,
            country: data.city.country
          },
          temps: unique
        }
        self.data = data
      })
    },

    changeCity: function(e){
      var self = this
      self.city = e.target.value
      self.getData()
    },

    changeCountry: function(e){
      var self = this
      self.country = e.target.value
      self.getData()
    },

    toggleView: function(){
      var self = this
      self.wrapper = !self.wrapper
    }
  }
}
</script>

<style>
#app{
  padding-top: 50px !important;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-family: Segoe, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
}

a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper .box {
  background-color: #ff333f;
  float: left;
  width: 24%;
  height: 100px;
  margin: 0 10px 10px 0;
  -webkit-transition: all 1.0s ease;
  -moz-transition: all 1.0s ease;
  -o-transition: all 1.0s ease;
  transition: all 1.0s ease;
}

.list-mode .container {
  padding-right: 10px;
}

.list-mode .box{
  width: 100%;
}
.show-list {
  font-size: 25px;
}
.box p {
  font-size: 20px;
  text-align: center;
  padding: 35px 0;
}
</style>
